.pokeball {
  width: 20px;
}

.empty-div {
  max-height: 150px;
}

.delete-add-pokemon-btn {
    margin: 20px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 10%;
    background-color:bisque;
    font-weight: bold;
}
