.pokeball {
  width: 20px;
}

.empty-div {
  max-height: 150px;
}

.delete-add-pokemon-btn {
    border: 2px solid red;
    background-color:rgb(255, 236, 212);
}

.visible-data-pic{
  background-color:rgba(227, 201, 201, 0.4);
}


